
{% extends "layout/layout_navbar.html" %}
{% block content %}
<body>
    <h2 class="h2" align="center">Iniciar Sesión</h2>
    <form method="POST" action="{{url_for('auth.authenticate')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>     
    </form>
    
    <a href="{{url_for('auth.google_login')}}">
        <img src="/static/img/googleLogoOficial.png" alt="Botón de Imagen" class="img-fluid" style="margin-top: 1rem;">
    </a>

    
</body>
{% endblock %}