{% extends "layout/layout_navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
                <h2>Estado Actual: {{state.state_request.name}}</h2>
                <h5>Observaciones:</h3>
                <p >{{state.state_request.state_message}}</p>

                <h2>Modificar Estado</h2>
                <form method="post" action="{{url_for('servicesRequests.change_state',request_id=request_id)}}">
                    <select name="new_state">
                        <option value="inicial">Inicial</option>
                        <option value="aceptada">Aceptada</option>
                        <option value="rechazada">Rechazada</option>
                        <option value="en_proceso">En Proceso</option>
                        <option value="finalizada">Finalizada</option>
                        <option value="cancelada">Cancelada</option>
                    </select>
                    <br>
                    <textarea name="new_observations" rows="4" cols="50" placeholder="Ingrese sus observaciones"></textarea>

                    <input type="submit" value="Cambiar Estado">
                </form>
            
        </div>
    </div>
</body>
</html>
{% endblock %}
