{% extends "layout/layout_navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
    <div class="container mt-5">
        <div class="user-list">
            <h1 class="mb-4">Lista de servicios</h1>
            <a href="{{url_for('services.create_service_form')}}" class="btn btn-success">Agregar servicio</a>
            <br><br>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Palabras clave</th>
                        <th>Centros</th>
                        <th>Tipo</th>
                        <th>Habilitado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>{{ service.id }}</td>
                            <td>{{ service.name }}</td>
                            <td>{{ service.description }}</td>
                            <td>{{ service.key_words|join(", ") }}</td>
                            <td>{{ service.centers|join(", ") }}</td>
                            <td>{{ service.type.value }}</td>
                            <td>
                                {% if service.enabled %}
                                   Si
                                {% else %}
                                   No
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{url_for('services.config_service', service_id=service.id)}}" class="btn btn-primary">Administrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination justify-content-center mt-4">
            <ul class="pagination">
                {% if services.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ services.prev_num }}" aria-label="Previous">&laquo; Anterior</a>
                    </li>
                {% endif %}

                {% for page_num in services.iter_pages() %}
                    <li class="page-item">
                        {% if page_num %}
                            {% if page_num == services.page %}
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            {% else %}
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            <span class="page-link">...</span>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if services.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ services.next_num }}" aria-label="Next">Siguiente &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>
{% endblock %}
