{% extends "layout_navbar.html" %}

{% block content %}
 <style>
        .centered-content {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            text-align: center;
        }
    </style>
    <h1 class="centered-content">Grupo 25 <br> Proyecto de Software</h1>
    <ul>
        <li>Amantea Gaston</li>
        <li>Panico Nicolas</li>
        <li>Gutierrez Paulos Ramiro</li>
        <li>Mariano Ignacio</li>
    </ul>
{% endblock %}
