
{% extends "layout_navbar.html" %}
{% block content %}
<body>
    <h2 class="h2" align="center">Registro de usuarios</h2>
    <form method="POST" action="{{url_for('auth.register')}}">
        <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" 
                placeholder="Ingrese su nombre"required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" 
                placeholder="Ingrese su email"required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" 
                placeholder="Ingrese su contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>     
    </form>    
</body>
{% endblock %}







