{% extends "layout/layout_navbar.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/confirmationPage.css')}}">

    <h1>CONFIRMAR ELIMINACION DE INSTITUCION</h1>
    <form method="post" action="{{ url_for('institution.confirm_delete', institution_id=institution_id) }}">
        <button type="submit" class="btn btn-primary btn-sm ml-2">SI, ELIMINAR</button>
    </form>
    
    <form method="get" action="{{ url_for('institution.home') }}">
        <button type="submit" class="btn btn-primary btn-sm ml-2">CANCELAR</button>
    </form>
{% endblock %}